<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>LUDOS</title>
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>

<body style="background:#e1efbb
	url('/static/tabuleiro.jpg');background-size: 100% 100%;background-repeat: no-repeat;background-attachment: fixed;">
 
<div class="w3-display-middle w3-center" >
	<div class="w3-box w3-padding" style="background:rgba(255, 255, 255, 0.8);">
		<form action="home.html" >
		  <label for="fname" style="text-align: left;">Nome:</label><br>
		  <input type="text" id="fname" name="fname" ><br><br>
			<label for="ename" style="text-align: left;">Email:</label><br>
		  <input type="email" id="ename" name="ename" ><br><br>
			<label for="numb" style="text-align: left;">Número de celular:</label><br>
		  <input type="tel" id="numb" name="numb" ><br><br>
		  <label for="lname">Senha:</label><br>
		  <input type="password" id="lname" name="lname" ><br><br>
			<input type="submit" value="Cadastrar" class="btn btn-primary">
		</form> 
	</div>
</div>

</body>
</html>