<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>LUDOS</title>
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>

<body style="background:#e1efbb
	url('/static/tabuleiro.jpg');background-size: 100% 100%;background-repeat: no-repeat;background-attachment: fixed;">

<div class="w3-display-topmiddle w3-text-yellow w3-padding-32">
	<h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Ludos - Luderia </b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
</div>
  
<div class="w3-display-middle w3-center">
	<div class="w3-box w3-padding-large " style="background:rgba(255, 255, 255, 0.8);">
		<form action="home.html">
		  <label for="fname" style="text-align: left;">Usuário:</label><br>
		  <input class="w3-opacity" type="text" id="fname" name="fname" ><br><br>
		  <label for="lname">Senha:</label><br>
		  <input type="password" id="lname" name="lname" ><br><br>
			<a href="index2.html" class="w3-text-blue"";>Esqueci minha senha</a><br><br>
		  <input type="submit" value="Login" class="w3-button w3-border-blue  w3-blue" style="padding: 6px 20px 6px 20px;">
			<a href="cadastro.html" class="w3-button w3-border-blue  w3-blue" style="padding: 6px 20px 6px 20px;">Cadastro</a><br><br>
		</form> 
	</div>
</div>

</body>
</html>